<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- This version uses the openai_ros environments -->
    <rosparam command="load" file="$(find turtlebot2_training)/config/turtlebot2_wall_params.yaml" />
    <!-- Launch the training system -->
    <node pkg="turtlebot2_training" name="turtlebot2_wall" type="start_training.py" output="screen"/>
</launch>
